<div class="content">
  <div class="row m-1">
    <div class="col-12">
      <div class="card table-card card-shadow">
        <div class="card-header">
          <div class="card-title">
            Guides
          </div>
          <div class="card-menu">
            <%= link_to '#', class:'icon-button search' do %>
              <i class="fas fa-search"></i>
            <% end %>
            <div class="icon-button dropdown">
              <%= link_to '#', {data:{toggle:'.dropdown-menu', toggle_class:'active'}, class:''} do %>
                <i class="fas fa-ellipsis-v"></i>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'New Text Guide', new_admin_guides_text_path %>
                </li>
                <li>
                  <%= link_to 'New Video Guide', new_admin_guides_video_path %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tabs">
            <div class="tabs-header">
              <%= link_to 'Text Guides', '#', data:{:'tab-toggle' => '#text_guides'}, class:'active' %>
              <%= link_to 'Video Guides', '#', data:{:'tab-toggle' => '#video_guides'}, class:'' %>
            </div>
            <div class="tabs-panels">
              <div class="tabs-panel active" id="text_guides">
                <div class="card-table-search">
                  <%= search_field_tag :search, nil, placeholder: :Search %>
                </div>
                <table>
                  <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th class="text-center">
                      Published At
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @text_guides.present? %>
                    <% @text_guides.each do |tg| %>
                      <tr>
                        <td class="text-center">
                          <%= tg.title %>
                        </td>
                        <td class="text-center">
                          <%= tg.published_at.strftime('%B %d, %Y %H:%m') %>
                        </td>
                        <td class="text-center">
                          <%= link_to 'Edit', edit_admin_guides_text_path(tg) %>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr class="text-center">
                      <td colspan="3">
                        No guides created yet!
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
              <div class="tabs-panel" id="video_guides">
                <div class="card-table-search">
                  <%= search_field_tag :search, nil, placeholder: :Search %>
                </div>
                <table>
                  <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Link
                    </th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% if @video_guides.present? %>
                    <% @video_guides.each do |vg| %>
                      <tr>
                        <td>
                          <%= vg.title %>
                        </td>
                        <td>
                          <%= link_to 'View Guide', vg.video_link, target: '_blank' %>
                        </td>
                        <td class="text-center">
                          <%= link_to 'Edit', edit_admin_guides_video_path(vg) %>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr class="text-center">
                      <td colspan="3">
                        No guides created yet!
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>