<%= content_for :title, 'Home' %>
<div class="header" style="background-image: url(<%=image_url('header') %>)">
  <div class="header-caption text-center">
    <h1><%= t('home.title') %></h1>
    <p><%= t('home.subtitle') %></p>
    <p><%= link_to 'Get Started Today', new_user_registration_path, class: 'btn btn-secondary-outline' %></p>
  </div>
</div>
<div class="content">
  <div class="container">
    <section class="text-center">
      <h2><%= Rails.configuration.application_name %></h2>
      <p><%= t('home.description') %></p>
      <div class="row">
        <% t('home.features').each do |feature, contents| %>
          <div class="col-md-4 col-sm-12">
            <h3><%= contents[:title] %></h3>
            <p><%= contents[:description] %></p>
          </div>
        <% end %>
      </div>
      <p><strong>Get started today with a free 30 day trial of Odin!</strong></p>
      <p>
        <%= link_to 'Get Started Today', new_user_registration_path, class: 'btn btn-primary-outline' %>
      </p>
    </section>
  </div>
</div>