<%= form_for(guides_video, url: admin_guides_videos_url) do |form| %>
  <% if guides_video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guides_video.errors.count, "error") %> prohibited this guides_video from being saved:</h2>

      <ul>
        <% guides_video.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="form-field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="form-field">
    <%= form.label :video_link %>
    <%= form.text_field :video_link %>
  </div>

  <div class="actions">
    <%= form.button "Publish", class: 'btn btn-success', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Publishing..."} %>
    <%= form.button "Save Draft", class: 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Publishing..."} if guides_video.published_at.nil? %>

    <% if guides_video.persisted? %>
      <%= link_to "Cancel", admin_guides_video_path(guides_video), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", admin_guides_videos_path, class: "btn btn-link" %>
    <% end %>

    <% if guides_video.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', guides_video, method: :delete, class: "text-danger", data: {confirm: 'Are you sure?'} %>
      </div>
    <% end %>

  </div>
<% end %>